/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    color: #333;
  }
  
  /* Header styling */
  .form__header {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  /* Form container */
  .form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
  
/* Form inputs */
.form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}
  
  .form__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }
  
  .form__bpm-wrapper {
    display: flex;
    align-items: center;
  }
  
  .form__bpm-label {
    margin-right: 10px;
  }
  
  .form__input--bpm {
    width: 80px;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
  }
  .form__buttons {
    width: 100%;
    display: flex;
    height: 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .play-stop-wrapper {
    width: 50%;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  /* Button styling */
  .button {
    width: 7rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    color: white;

  }
  
  .button--play {
    background-color: #1abc9c;


  }

  .button--play:hover {
    background-color: #16a085;
  }
  
  .button--stop {
    background-color: #fe6464;
  }

  .button--stop:hover {
    background-color: #d05353;
  }


  .button--export {
    width: 10rem;
    background-color: #3498db;

  }
  
  .button--export:hover {
    background-color: #2980b9;
  }
  
  /* Footer styling */
  .footer {
    margin-top: 40px;
    text-align: center;
  }
  
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__message {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .footer__donate-button {
    background-color: #ffda84;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer__donate-button:hover {
    background-color: #e0ac2e;
  }
  
  .footer__donate-link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
  }
  
  .footer__paypal-logo {
    width: 25px;
    margin-right: 10px;
  }
  
  /* Mobile-friendly styling */
  @media (max-width: 600px) {
    .form__controls {
      flex-direction: column;
    }
    .button {
      width: 4rem;
    }
    .button--export {
      width: 8rem;

      font-size: 0.8rem;
    }
    
  }
  